.navbar-btn {
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-btn:hover {
  color: #fff;
}

.user-image {
  float: right;
  background-repeat: no-repeat;
  background-position: center center;
}

.proto-content .proto-tag-list {
    margin-left: 0;
    padding: 0 5px;
}

.action_dropdown {
  position: absolute;
  top: 35px;
  left: 5px;
}

.appear {
  display: block;
}

li {
  list-style: none;
}

.hide {
  display: none;
}
