.navbar-btn {
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
}

.user-image {
  float: right;
  background-repeat: no-repeat;
  background-position: center center;
}

.proto-content .proto-tag-list {
  margin-left: 0;
  padding: 0 5px;
}

.action_dropdown {
  position: absolute;
  top: 10px;
  left: 20px;
}

.appear {
  display: block;
}

li {
  list-style: none;
}

.hide {
  display: none;
}

.add_sub_image_form {
  height: 220px;
}

.proto-new .cover-image-upload.background_main_contain {
  background-size: contain;
}

.proto-sub-list .list-group-item .image-upload.background_sub_contain {
  background-size: contain;
}

.media-object {
  width: 64px;
  height: 64px;
}

.new_comment .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-group {
  min-width: 212px
}

.btn-index:hover {
    color: #337ab7;
  }

.row .proto-content .thumbnail {
  display: block;
}

.thumbnail .btn.btn-tag {
  width: 100%;
  height: 50px;
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 3px;
  color: #999;
  background-color: #eee;
}

.tag-list-number {
  display: block;
  font-size: 1.3rem;
  border-radius: 2px;
  margin: 0 -2px 2px;
}

.btn-tag {
  width: 100%;
  height: 50px;
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 3px;
  color: #999;
  background-color: #eee;
}

.tag-list-number {
  display: block;
  font-size: 1.3rem;
  border-radius: 2px;
  margin: 0 -2px 2px;
}
