.navbar-btn {
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-btn:hover {
  color: #fff;
}

#user_username {
  width: 80%;
}

.user-image {
  float: right;
  background-repeat: no-repeat;
  background-position: center center;
}

.proto-content .proto-tag-list {
    margin-left: 0;
    padding: 0 5px;
}

#action_dropdown {
  position: absolute;
  top: 10px;
  left: 20px;
}

#hide_back {
  background: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.appear_form {
  display: block;
}

div > ul > .hide_form {
  display: none;
}

li {
  list-style: none;
}
